{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/add_song.css' %}">
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <label class="punkt" for="id_songs">Select Song</label>
    <select  id="id_songs" name="songs">
        {% for song in songs %}
            <option value="{{ song.id }}">{{ song.title }}</option>
        {% endfor %}
    </select>
    <button type="submit">Delete Song</button>
</form>
{% endblock %}
